%ul#elements{:title => 'By Element'}
  %li= link_to 'Fire', '#cards'
  %li= link_to 'Earth', '#cards'
  %li= link_to 'Water', '#cards'
  %li= link_to 'Wood', '#cards'
  %li= link_to 'Spell', '#cards'
