#card{:title => "Card ##{@card.number}"}
  %h3= @card.title
  %h3== #{@card.element} - #{@card.rarity}
  %ul{:class => (@card.spell? ? 'spell' : 'numbers')}
    %li.summoning_cost= @card.summoning_cost
    - unless @card.spell?
      %li.activation_cost= @card.activation_cost
      %li.health_points= @card.health_points
      %li.attack= @card.attack
  %p 
    - unless @card.special_attributes.blank?
      == <br/> #{@card.special_attributes}
    - unless @card.body.blank?
      == <br/> #{@card.body}

  %p= image_tag "http://www.eojmanager.com/cardimagessmall/#{@card.number}.jpg"