%ul#home{:title => "Play EoJ", :selected => "true"}
  %li= link_to 'All Cards', list_cards_path
  %li= link_to 'By Element', '#elements'
  %li= link_to 'By Race', '#races'
  %li= link_to 'By Affiliation', '#affiliations'
  %li= link_to 'Glossary', '#glossary'
  %li= link_to 'About', '#about'